doctype html

html
    head
        title TPC7
        meta(charset='UTF-8', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/w3.css')
    body
        block content
        